.App {
  text-align: center;
}

body{
  background: #861098;
  font-size: 20px;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title{
  text-align: center;
  color: white;
  font-family: cursive, Helvetica, sans-serif
}

.container{
  text-align: center;
  color: white;
}

.input-text{
  border-radius: 20px;
  background: white ;
  padding: 10px;
  width: 100px;
  height: 2px;
}

.addBtn{
  background: #483D8B;
  color: white;
  margin-left: 10px;
}

.list{
  font-family: cursive, Helvetica, sans-serif;
  color: black;
  margin-left: -100px;
}

.delete-btn{
  border-radius: 20px;
  background: red;
  margin-left: 10px;
}